<div class="friend-profile" class="row">
  <div class="friend-info full">
    {{fill-murray width=150 height=150}}
    <div>
      <p>{{model.fullName}}</p>
      <p class="icon-mail">{{model.email}}</p>
      <p class="icon-twitter">{{model.twitter}}</p>
      <ul class="friend-profile-links">
        <li>{{link-to "edit" "friends.edit" model class="icon-pencil"}}</li>
        <li><a href="#" class="icon-trash" {{action "delete" model}}>delete</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="articles-container">
  {{outlet}}
</div>
