<h2>Borrowed Articles</h2>
<table class="primary">
  <thead>
    <tr>
      <th {{action 'setSortBy' 'description'}}>Description</th>
      <th {{action 'setSortBy' 'notes'}}>Notes</th>
      <th {{action 'setSortBy' 'createdAt'}}>Borrowed since</th>
      <th>Show Returned{{input type="checkbox" checked=showReturned}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each itemController='articles/item'}} --}}
    {{#each article in filteredResults}}
      <tr>
        <td>{{article.description}}</td>
        <td>{{article.notes}}</td>
        <td>{{formatted-date article.createdAt 'LLL'}}</td>
        <td {{action 'save' article on='change'}}>{{view select content=states selection=article.state}}</td>
        <td>
          {{#if article.isSaving}}
            <p>Saving ...</p>
          {{/if}}
        </td>
        <td>
          {{link-to '' 'articles.edit' article class="icon-pencil"}}
          <a href="#" class="icon-trash" {{action "delete" article}}></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="lend-article" class="row">
  {{link-to 'lend article' 'articles.new' class="icon-plus"}}
</div>
